In [1]:
import pandas as pd
import numpy as np

In [15]:
data = {
    "Name": ["Tanmay", "Vivek", "Rohan", "Raghav", "Rounak", "Aaditya"],
    "Education": ["Bachelors", "Masters", "High School", "PhD", "Bachelors", "Masters"]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df

      Name    Education
0   Tanmay    Bachelors
1    Vivek      Masters
2    Rohan  High School
3   Raghav          PhD
4   Rounak    Bachelors
5  Aaditya      Masters

In [12]:
education_heirarchy = {
    "High School": 1,
    "Bachelors": 2,
    "Masters": 3,
    "PhD": 4
}

In [13]:
df["Education Order"] = df["Education"].map(education_heirarchy)

In [14]:
df

      Name  Education  Education Order
0   Tanmay  Bachelors                2
1    Vivek    Masters                3
2    Rohan  Bachelors                2
3   Raghav        PhD                4
4   Rounak  Bachelors                2
5  Aaditya    Masters                3