In [11]:
import pandas as pd
import numpy as np

In [12]:
def ohe(data: dict, column: str):
    df = pd.DataFrame(data)
    cols = list(df[column].unique())

    for col in cols:
        other_cols = [s for s in cols if s != col]
        cmap = {col: 1}

        for i in range(len(cols) - 1):
            cmap.update({other_cols[i]: 0})

        df[col + "_OHE"]  = df[column].map(cmap)

    return df

In [ ]:
data = {
    "Name": ["Tanmay", "Vivek", "Saurabh", "Raghav", "Rounak", "Rohan"],
    "State": ["UP", "RJ", "RJ", "HR", "BR", "RJ"]
}

column = "State"

In [14]:
print(ohe(data, column))

     Name State  UP_OHE  RJ_OHE  HR_OHE  BR_OHE
0  Tanmay    UP       1       0       0       0
1   Vivek    RJ       0       1       0       0
2   Rohan    RJ       0       1       0       0
3  Raghav    HR       0       0       1       0
4  Rounak    BR       0       0       0       1
5   Rohan    RJ       0       1       0       0

In [19]:
def ohe2(data: dict, column: str):
    df = pd.DataFrame(data)
    cols = df[column].unique()
    for col in cols:
        mapc = {col: 1}
        df[col + "_OHE"] = df[column].map(mapc).fillna(0).astype(int)

    return df

In [20]:
print(ohe2(data, column))

     Name State  UP_OHE  RJ_OHE  HR_OHE  BR_OHE
0  Tanmay    UP       1       0       0       0
1   Vivek    RJ       0       1       0       0
2   Rohan    RJ       0       1       0       0
3  Raghav    HR       0       0       1       0
4  Rounak    BR       0       0       0       1
5   Rohan    RJ       0       1       0       0